<div class="text-layout">
    <h1>DecimalPipe y Porcentaje</h1>
    <p>
        Pipes incluídos en Angular - Usualmente en el Common Module.
    </p>
</div>

<div class="grid">
    <div class="col-4">
        <p-card header="Ventas Netas"
                subheader= "del presente año">
            <i class="pi pi-dollar"></i>
            <!-- number:'1.6-6'  1er argumento: numero entero + hasta 6 decimales  -->
            {{ ventasNetas | number:'1.4-4' }}
        </p-card>>
    </div>

    <div class="col-4">
        <p-card header="Ventas Brutas"
            subheader= "del presente año">
            <!-- currency:'USD':'symbol-narrow'  1er argumento: moneda, 2do argumento: forma corta  -->
            {{ (ventasNetas + 1000000) | currency:'USD':'symbol-narrow':'1.4-4' }}
        </p-card>>
    </div>

    <div class="col-4">
        <p-card header="Ganacias porcentual"
            subheader= "del presente año">
            <!-- percent:'2.2-2'  1er argumento: dos digitos de parte entera y hasta dos decimales  -->
            {{ (porcentaje) | percent:'2.2-2' }}
        </p-card>>
    </div>
</div>